*.tmp
*.out
*.gz
*.csv

Named_Boxarts/
Named_Snaps/
Named_Titles/
output*/*
input/*
copyme*/*

launcher.sh
unsortedsep.dat
boxart - games.dat.tsv
BUsortedgames.dat
*.DS_store
.DS_Store
original games.dat
.DS_Store
shortsortedgames.dat



input/mastersystem/Sega_-_Master_System_-_Mark_III
input/mastersystem/Sega_-_Master_System_-_Mark_III
.DS_Store
