Named_Boxarts.txt
Named_Snaps.txt
Named_Titles.txt
Prep_Named_Boxarts.txt
Prep_Named_Snaps.txt
Prep_Named_Titles.txt
Out_Named_Boxarts.txt
Out_Named_Snaps.txt
Out_Named_Titles.txt
Named_Boxarts/
Named_Snaps/
Named_Titles/
output/

unsortedsep.dat
boxart - games.dat.tsv
